:root{
    --fuenteHeading: "Noto Serif", serif;
    --primario: #784D3C;
    --blanco:#fff;
    --negro:#000;
    --claro: #e1e1e1;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteHeading);
    font-weight: 300;
    font-style: italic;
    line-height: 2;
}

/*globales*/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
}
h1{
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 500;
}
h2{
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
}
h3{
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}
h4{
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 0;
    
}
img{
    max-width: 100%;
}

p{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 200;
    margin-top: 0rem;
}

/*utilidades*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/*header*/
.webp .header{ /*USO DE MODERNIZR, SI NAVEGADOR SOPORTA WEBP LA CARGA AQUI*/
    background-image: url(../img/banner.webp);
}
.no-webp .header{ /*SI NO LO SOPORTA LA CARGA EN JPG*/
    background-image: url(../img/banner.jpg);
}
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /*para fijar punto de enfoque de la imagen*/
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
    background-color: var(--primario);
}
.header__texto h2{
    line-height: 1.5;
    font-size: 2.3rem;
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    font-style: italic;
}
.header__texto p{
    font-size: 1.5rem;
}
.barra{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    color: var(--blanco);
    font-weight: 700;
    font-style: italic;  
}
.logo__light{
    font-weight: 300;
}
.logo__small{
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    
    .header__texto{
        margin: 15rem;
        background-color: transparent;
    }
    .header__texto h2{
        line-height: 1.5;
        margin-bottom: 4rem;
        font-size: 4rem;
    }
    .header__texto p{
        font-size: 2.8rem;
    }
    .barra{
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }   
}

.navegacion{
    width: 100%;
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 2.3rem;
    text-decoration: none;
    color: var(--blanco);
    width: 100%;
}
.navegacion__enlace:hover{
    background-color: var(--primario);
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 0rem;
        width: auto;
    }
    .navegacion__enlace{
        font-size: 1.8rem;
        padding: 0 1rem;
    }
    .navegacion__enlace:hover{
        text-decoration:underline;
        background-color: transparent;
        text-shadow: 2px 2px 4px #888888, -2px -2px 4px #cccccc;
    }
}

/*contenido principal*/
.entrada{
    margin-bottom: 6rem;
}
.imagen{
    border-radius: 1rem;
}
.contenido-principal{
    display: grid;
    grid-template-areas: "arriba" "abajo";
    gap: 2rem;
}
.contenido-principal__sidebar{
    text-align: center;
    grid-area: arriba;
}
@media (min-width: 768px) {
    .entrada{
        border-bottom: 1px solid var(--claro) ;
    }
    .contenido-principal{
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 2fr 1fr;
        gap: 6rem;
    }
    .contenido-principal__sidebar{
        text-align: left;
        grid-column: 2/3;
    }
}

.boton{
    display: block;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem 3rem;
    border: none;
    transition: color 0.2s ease;
}
.boton:hover{
    cursor: pointer;
    color: #000;
}
.boton--primario{
    background-color: var(--negro);
    transition: background-color 0.2s ease;
}
.boton--primario:hover{
    background-color: var(--claro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349); /* Añade sombra al pasar el ratón sobre el botón */
}
@media (min-width: 768px) {
    .boton{
        padding: .2rem;
    }
}
.cursos{
    padding: 0;
    list-style: none;
}
.widget-curso{
    border-bottom: 2px solid var(--claro) ;
    margin-bottom: 4rem;
}
.widget-curso:last-of-type{
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .widget-curso:last-of-type{
        margin-bottom: 4rem;
    }
}
.widget-curso__label{
    margin: 0;
    font-size: 1.8rem;
}
.widget-curso__info{
}
.boton--secundario{
    background-color: var(--primario);
    margin: 2rem 0rem;
    transition: background-color 0.2s ease;
}
.boton--secundario:hover{
    background-color: var(--claro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349); /* Añade sombra al pasar el ratón sobre el botón */
}

/*Footer*/
.footer{
    background-color: var(--negro);
}
.logo__nombre--footer{
    margin: 0;
}

/*sobre nosotros*/
.sobre-nosotros__imagen img{
    border-radius: 1rem;
}

.sobre-nosotros__contenido{
    text-align: justify;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
    .sobre-nosotros__imagen{
        margin-bottom: 3rem;
    }
}

/*Cursos pagina*/
.curso{
    margin: 4rem 0;
    padding: 0rem 0;
    margin-bottom: 0rem;
    border-bottom: 2px solid var(--claro);
}
.curso:last-of-type{
    margin-bottom: 4rem;
}
.boton--registrate{
    background-color: var(--primario);
    margin: 2rem 0rem;  
    transition: background-color 0.2s ease;
}
.boton--registrate:hover{
    background-color: var(--claro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349); /* Añade sombra al pasar el ratón sobre el botón */
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
    }
    .curso__titulo{
        margin-bottom: 2rem;
    }
    .curso__descripcion{
        margin-bottom: 2rem;
    }
    .boton--registrate{
        width: 40%;
        margin-top: 2rem;
    }

}

/*entrada blog*/
.blog-entrada__imagen{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.blog-entrada__imagen img{
    width: 100%;
    border-radius: 1rem;   
}
.blog-entrada__contenido{
    margin-bottom: 1rem;
}
.blog__titulo{
    text-align: center;
}
.blog-entrada__boton{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
}
.boton--volver{
    background-color: var(--negro);
    margin-bottom: 4rem; 
    width: 90%;
    line-height: 1;
    padding: 2rem 0;
    transition: background-color 0.2s ease;
}
.boton--volver:hover{
    background-color: var(--claro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349); /* Añade sombra al pasar el ratón sobre el botón */
}

@media (min-width: 768px) {
    .blog-entrada__imagen img{
        width: 60%;
    }
    .blog-entrada__boton{
        justify-content: right;
    }
    .boton--volver{
        width: 30%;
        padding: 1rem 0;
    }
}

/*Entrada formulario*/
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
}
.formulario{
    width: 80%;
    background-color: var(--blanco);
    margin: -30rem auto 0 auto;
    border-radius: 1rem;
    padding: 5rem 2rem;
}
.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.boton--enviar{
    background-color: var(--negro);
    margin: 0 auto;
    margin-bottom: 1rem; 
    width: 90%;
    line-height: 1;
    padding: 2rem 0;
    transition: background-color 0.2s ease;
}
.boton--enviar:hover{
    background-color: var(--claro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349); /* Añade sombra al pasar el ratón sobre el botón */
}
.campo__label{
    text-align: left;
    padding-right: 0rem;
    font-size: 1.8rem;
    line-height: 1.3;
}
.campo__field{
    padding: 1rem;
    border: 1px solid var(--claro);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 200;
}
.campo__field--textarea{
    padding: 1rem;
    border: 1px solid var(--claro);
    height: 10rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 200;
}

@media (min-width: 768px) {
    .formulario{
        max-width: 80rem;
        margin: -20rem auto 0 auto;
        padding: 5rem;
    }
    .campo__label{
        flex: 0 0 15rem; /*para que el elmento no crezca*/
        text-align: right;
        padding-right: 2rem;
    }
    .campo{
        display: flex;
        flex-direction: row;
    }
    .campo__field{
        flex: 1 ; /*factor de crecimiento de 1 al elemento*/
    }
    .campo__field--textarea{
    flex: 1;
    height: 20rem;
    }
}

.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-info__copyright, .footer-info__direccion{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--blanco);
    margin: 0;
    line-height: 1.5;
}
.footer-info__direccion{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .footer-info__direccion{
        font-size: 1.4rem;
        margin-bottom: 0;
    }
}

